//FONTS
@font-face {
    font-family: fontRegular;
    src: url(../font/SourceSerifPro-Regular.ttf);
}
@font-face {
    font-family: fontLight;
    src: url(../font/SourceSerifPro-Light.ttf);
}
@font-face {
    font-family: fontExtraLight;
    src: url(../font/SourceSerifPro-ExtraLight.ttf);
}
@font-face {
    font-family: fontBlack;
    src: url(../font/SourceSerifPro-Black.ttf);
}