@import "./font";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: fontRegular;
    color: #000;
    z-index: 1;
}

nav {
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 10px 3px rgba(44, 44, 44, 0.65);
    background-color: #fff;
    z-index: 999;
    display: flex;
    div {
        display: flex;
        div {
            position: relative;
            left: 30px;
            top: 15px;
            height: 15px;
            width: 15px;
            transform: translate(-50%) rotate(45deg);
            border-bottom: 2px solid black;
            border-left: 2px solid black;
            transition-duration: 0.5s;
        }
    }
    a {
        p {
            font-size: 1.3em;
            line-height: 50px;
            margin-left: 30px;
        }
    }
    #line {
        p {
            font-size: 1.5em;
            line-height: 50px;
        }
    }
}

h1 {
    font-size: 2em;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    width: 80%;
    margin: 0 auto 20px auto;
    gap: 20px;
    row-gap: 15px;
    div {
        transition-duration: 0.5s;
        a {
            img {
                width: 100%;
            }
        }
        &:hover {
            transform: scale(1.05);
        }
    }
}